body,
h1,
h2,
h3,
p,
ul,
li,
form,
button {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #68aab4;
}

/* Global styles */
.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  background-color: #0c5062;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}


nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  /* font-weight: bold; */
  font-size: 20px;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
  text-indent: 10px;
}

h2 {
  font-size: 28px;
  margin-bottom: 10px;
  text-indent: 10px;
}

h4 {
  font-size: 28px;
  margin-bottom: 15px;
  text-indent: 10px;
}

.welcome {
text-indent: 15px;
text-align: center;
}

#intro {
  font-size: 20px;
  font-weight: bold;
}

/*Portfolio section*/
.project {
  text-align: center;
}

h3 {
  font-size: 25px;
}

.project-desc {
  font-size: 20px;
}

/*End portfolio section*/


/*Resume section*/
.resume-body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10%;
  margin-top: 5%;
}

.resume-body>* {
  flex: 1;
  margin: 150px;
}

.column1,
.column2,
.column3 {
  width: 410px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: 30px 0 0 60px;
}

.column3 {
  margin-right: 0%;
}

.article {
  margin: 10px;
  margin-bottom: 1em;
  background-color: #0e4656;
}

.resume-body img {

  height: auto;
}

.download-icon {
  color: black;
  font-size: 1.7em;
  transition: color 0.3s;
}

.download-icon:hover {
  color: grey;
  opacity: 0.7;
  transition: .5s ease;
}

.download-info {
  flex: 3 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}

.column-title {
  color: #d0dad8;
  font-size: 25px;
  font-weight: bold;
}

.column-text {
  color: #cbe0dc;
  font-size: 20px;
  padding: 5px;
}

.column-text ul li {
  list-style-type: none;
  margin: 5px;
}

.logo {
  color: #e1efef;
  font-size: 2rem;
}

.resume {
  text-align: center;
  font-size: 20px;
}
/*End resume section*/

p {
  line-height: 1.5;
  text-indent: px;
  font-size: 16px;
}

form div {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #555;
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: #0c5062;
  color: #fff;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.footer-links a:hover {
  text-decoration: underline;
}
